@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  &:before {
    content: '';
    content: "";
    width: 100%;
    height: 120vh;
    background-image: url("../public/fondo.jpg");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

body::-webkit-scrollbar{
  display: none;
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }

  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 30000ms ease;
    width: 50px;

    &:hover {
      width: 60px;
    }
  }

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.track {
  animation-delay: 2000ms;
  white-space: nowrap;
  will-change: transform;
  width: 120%;
  animation: 1s;
  -webkit-animation: marquee 40s linear infinite;
  -moz-animation: 10s linear infinite;
}

@media (max-width: 767px) {
  .track {
    -webkit-animation: marquee 15s linear infinite;
  }
}

.track:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(50%);
  }

  to {
    transform: translateX(-50%);
  }
}

.overcontainer {
  overflow: hidden;
}

.maylike-products-container {
  display: flex;
  justify-content: center;
  gap: 15px;

}

.item {
  max-width: 70px;
  min-width: 30px;
}

@media (max-width: 767px) {
  .item {
    max-width: 40px;
    min-width: 40px;
  }
}

.headerFlexbox {
  display: flex;
  gap: 15px;
}

@media (max-width: 767px) {
  .headerFlexbox {
    display: none;
  }
}

//Navbar code

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:sticky;
  z-index:100;
}

.nav__menu-bar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  cursor: pointer;
}

.nav__menu-bar div {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  z-index: 100;
}

.nav__menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  width: calc(120vw);
  row-gap: 24px;
  right: -288*2px;
  padding: 24px;
  transition: all 0.2s;
  min-height: calc(120vh);
  z-index: 10;
}

.nav__menu-list.active {
  right: 0;
}

.nav__link {
  font-size: 30px;
  position: relative;
  transition: all 0.2s;
  color: white;
}
.nav__link:hover {
  color: green;
}
.center {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 638px) {
  .nav__menu-bar {
    display: none;
  }

  .nav__menu-list {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 24px;
    align-items: center;
  }

  .nav__link::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 6px;
    bottom: -16px;
    left: 0;
    transition: all 0.2s;
  }

  .nav__link:hover:before {
    width: 100%;
    background-color: darkgreen;
  }



}

@media (max-width: 638px) {
  .nav__menu-list.active {
    right: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(1, 1, 46) 97%);
  }

  .nav__link {
    font-size: 36px;
  }
}

//Authors
.image-track {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: auto;
}

.image-track::-webkit-scrollbar {
  width: 0;
}

.author-image {
  min-width: 70vh;
  min-height: 70vh;
  
}

.author-pic {
  max-height: 70vh;
  object-fit: cover;
  object-position: 100% left;
  -webkit-filter: brightness(80%);
}

.author-text-container {
  position: relative;
  bottom: 45vh;
}

.author-image-text {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  letter-spacing: 4px;
  text-decoration-style: solid;
  font-size: x-large;
  margin-bottom: 8px;
}

.author-image-bio {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  letter-spacing: 4px;
  font-size: large
}

.author-pic:hover {
  -webkit-filter: brightness(20%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all .75s ease;
  cursor: pointer;
}

@media (max-width: 638px) {
  .image-track {
    flex-direction: column;
  }

  .author-image {
    position: relative;
    min-width: 0vw;
    min-height: 0vw;
    max-height:110vw;
    display:inline;
    overflow-y:hidden;
  }

  .author-pic {
    max-height: 110vw;
    object-fit: cover;
    object-position: 100% left;
    -webkit-filter: brightness(40%);
    position: relative; 
    left:5vw;
  }

  .author-text-container {
    position: relative;
    left:17.5vw;
    max-width: 85vw;
    bottom:75vw;
  }

  .author-image-text {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    text-decoration-style: solid;
    font-size: x-large;
    margin-bottom: 8px;
  }

  .author-image-bio {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    letter-spacing: 4px;
    font-size: large
  }
}